<!DOCTYPE HTML>
<html>
<head>
    <title>购票须知</title>
</head>

<body>
<div id="ticketInfoPage" data-box="v" class="secondPage">
    <header data-box="h">
        <button class="returnLabel"></button>
        <span x-page="title" class="returnLabel">购票须知</span>
    </header>
    <div class="content" id="ticketInfo" data-box="v"  data-flex="1">
        <xtag:ScrollPane data-box="v" data-flex="1">
            <ul>
                <li>成人及身高超过1.5米的儿童须购买全价票，供给座位。</li>
                <li>身高1.2米至1.5米的儿童购买半价儿童票，供给座位。</li>
                <li>目前暂不支持申报成人携带免费儿童票。</li>
                <li>旅客随身携带乘车的物品，每一张全票可免费10千克，每一张儿童票可免费5千克；体积不能超过0.05立方米，长度不能超过1.8米，并以能放置本人座位下或车内行李架上为限。超过规定时，其超过部分按行包收费；占用座位时，按实际占用座位数购票。</li>
                <li>您可以到就近代理网点或者到始发站的自助取票机上取票。为避免误车，非节假日建议在发车前1小时取票，并提前30分钟到始发站乘车；法定节假日及法定节假日节前一天，建议在发车前2小时取票，并提前1小时到始发站乘车。</li>
                <li>依据成发改价格函[2013] 197号文件批准，网上售票每张车票收取服务费3元，取票后可到车站综合窗口领取发票。由于您已经使用了本项服务，因此您如发生退票时，服务费是不能退还的。</li>
                <li>军残票等特殊票请到始发站专用窗口优先购票。</li>
                <li>购票后如需退票，请到始发站的“综合窗口”办理退票。始发站将按规定收取退票手续费。</li>
            </ul>
        </xtag:ScrollPane>
    </div>
</div>
</body>
</html>
